@charset "utf-8";

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

body{
    background-color: rgb(22, 22, 22);
}

.sectiontitle{
    padding: 30px;
    padding-bottom: 0;
    color: aliceblue;
    font-size:40px;
    font-weight: 1000;
}

.setction{
    margin: 15px;
    height: 500px;
    background-color: rgb(61, 60, 60);
    justify-content: center; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


.languageimg{
    height: 100px;
    width: 100px;
    margin: 10px;
}

