@keyframes backgroundfadein {
    0% { opacity: 0; }
    100% { opacity: 100;}
}

.backgroundfadein {
    animation-name: backgroundfadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후에도 최종 상태를 유지 */
}

@keyframes updatingnumber {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.1); 
        filter: brightness(0.8);
    }
    100% { 
        transform: scale(1); 
    }
}

.updatingnumber{
    animation-name: updatingnumber;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}