@charset "utf-8";



#myTable{
    width: 100%;
    font-weight: 700;
    border: 1px solid #fff; 
}

td{
    border:none;
    border-bottom: 1px dotted;
    line-height: 40px;
    text-align: center;
    width: 240px;
    
}

tr td:first-child{
    border-right: 1px solid;
    width: 260px;
    
}

.introduce{
    height: 600px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 246);
    text-align: center;
    align-items: center;
    flex-direction: column;
    align-content:center;
    text-shadow: 1px 1px 2000px rgb(255, 255, 255);
}

.introduce p:nth-child(1){
    font-size: 200px;
    font-weight:900;
    margin: 30px;
    
}
.introduce p:nth-child(2){
    font-size: 40px;
    color: rgb(196, 196, 196);
}

body {
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    font-weight: 1000;
    min-width:1800px;    
}





/* Animation */
.anim-typewriter{
    animation: typewriter 3s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 30em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


.line-1{
    position: relative;
    top: 5%;  
    width: 30em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}