#popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgb(184, 240, 173);
    height: 800px;
    width: 1300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80px;
    cursor: pointer;
}

#popuptitle{
    font-size: 120px;
    font-family: cursive;
    text-align: center;
    color: #00ff22;
    text-shadow: 5px 5px 10px #1d9c61;
    margin: 0;
}

#popupintroduce{
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    padding-top: 50px;
    color: #169258;
    text-shadow: 1px 1px 1px #000000;
    margin: 0;
}