body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

html {
  background-color: #74323a;
  min-width: 1200px;
  
}

.backgroundimg{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./image.png");
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1; 
}

.titletext{
  font-family: cursive;
  color: rgb(250, 153, 186);
  text-shadow: 1px 1px 20px rgb(35, 38, 41);
  font-size: 100px;
  margin-bottom: 70px;
  font-weight: 1000;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  gap: 150px; /* 박스 사이의 간격 조절 */
}



.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 800px;
  height: 1050px;
  background-color: #fd909d;
  border-radius: 40px;
  transform: scale(1);
  transition: transform 0.5s, box-shadow 0.5s;
}



.box:hover{
  box-shadow: 5px 5px 30px 2px rgb(68, 56, 56);
  transform: scale(1.01);
  transition-duration: 0.5s;
}


.anime-name{
  margin-top: 50px; 
  font-size: 30px;
  font-weight: 1000;
  font-family: "GmarketSans";
}

.anime-year{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 1000;
  visibility: hidden;
}

.anime-year.visible{
  visibility: visible;
}

.anime-year.invisible{
  visibility: none;
}

.anime-img{
  height: 800px;
  width: 500px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



.lifezone{
  margin: 30px;
  font-size: 100px;
  position: fixed;
  top: 0;
  right: 0;
}

.life{
  height: 90px;
  width: 90px;
  margin: 10px;
}