body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-width: 1300px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 400px;
  background-color: yellow;
  border-right: 1px solid black;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(161, 163, 163);
}

.english-voca {
  width: 800px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 50px;
  background-color: rgb(22, 21, 21);
  color: white;
}



button {
  width: 750px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

