html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* 기본 스크롤 설정 */
    min-width: 1800px;
    min-height: 850px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.backgroundimg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(252, 255, 207);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1; 
}

.gamebox{
    position: relative;
    width: 1800px;
    height: 850px;
    background-color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainbox{
    width: 100%;
    height: 650px;
}

.textbox{
    position: absolute;
    width: 99%;
    margin-left: 8px;
    height: 200px;
    background-color: rgba(245, 188, 219, 0.9);
    z-index: 2; 
    border-radius: 20px;
}

.namebox{
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 87, 151);
    font-size: 30px;
    border-radius: 20px;
    font-family: 'MangoDdobak-B';
}

.conversation{
    margin: 20px;
    margin-left: 80px;
    margin-right: 100px;
    font-size: 34px;
    word-wrap: break-word;
    font-family: 'MangoDdobak-B';
    overflow: hidden;
    white-space: pre-wrap;
}

.character{
    float:left;
    position: absolute; 
    left: 40%; 
    top: 6%;
    z-index: 1; 
    height: 800px;
    width: 450px;
}

.choicebox{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    width: 1800px;
    height: 850px;
    z-index: 3; 
}

.choice{
    margin: 50px;
    height: 100px;
    width: 800px;
    border-radius: 30px;
    background-color: rgba(245, 247, 224, 0.9);
    transition: transform 0.5s;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px white;
}

.choice:hover{
    transform: scale(1.03);
    background-color: rgb(196, 197, 189,0.9);
}


.GameStartBox{
    height: 100px;
    width: 700px;
    border-radius: 30px;
    background-color: rgba(255, 152, 191, 0.99);
    transition: transform 0.5s,background-color 1s;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px white;
}

.GameStartBox:hover{
    transform: scale(1.09);
    background-color: rgba(248, 10, 208, 0.9);
}