/* animations.css */
.popupbox.show{
  top: 200px;
  opacity: 1;
}


.captchabox.show{
  top: 50px;
  opacity: 1;
}

.captchabox.hide{
  top: 80px;
  opacity: 0;
}

.darkened {
  filter: brightness(30%);
}