.betteryTitle{
    font-size: 30px;
}


.betterysub{
    font-size: 20px;
    color: red;
    width: 50%;
    margin-bottom: 160px;
}

.betteryprocess{
    font-size: 15px;
    color: black;
    width: 100%;
    margin-top: 70px;
}

.GoogleImg{
    width: 300px;
    height: 100px;
    background-size: 100% 100%;
}

.robotimg{
    background-size: 100% 100%;
    height: 200px;
    width: 50%;
}

.btnbettery{
    margin-top: 30px;
    height: 80px;
    font-size: 20px;
    width: 200px;
}

.containerbettery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
}