@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.captchacontainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LeeSeoyun';
    width: 100%;
    height: 100%;
    transition: 1s;
}
.captchabackplate{
    z-index: 12;
}

.captchabox{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 600px;
    height: 800px;
    z-index: 13;
    top: 80px;
    opacity: 0;
    transition: 1s;
}

.captchabox > .bluebox{
    background-color: blue;
    width: 98%;
    height: 150px;
}

.captchabox > .bluebox > p{
    margin: 20px;
    color: white;
    font-weight: 400;
}
.captchabox > .bluebox p:nth-child(1){
    font-size: 45px;
    margin: 20px;
    color: white;
}

.captchabox > .selectbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    width: 98%;
    height: 570px;
    margin-top: 10px;
}

.captchabox > .selectbox > .select{
    background-color: rgb(137, 184, 184);
    margin: 5px;
    height: 31%;
    width: 31%;
}

.captchafooter{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.captchabutton{
    position: absolute;
    right: 20px;
    margin: 3px;
    width: 20%;
    height: 100%;
}

.select{
    background-size: 100% 100%;
    transition: 0.3s;
}

.select:hover{
    cursor: pointer;
    transform: scale(1.02);
}