@keyframes cardflip {
    0% {transform:perspective(800px) rotateY(0deg);}
    50% {transform:perspective(800px) rotateY(90deg) scale(1.5);}
    100% {transform:perspective(800px) rotateY(180deg);}
}

.cardflip {
    animation-name: cardflip;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후에도 최종 상태를 유지 */
}

@keyframes cardBackflip {
    0% {transform:perspective(800px) rotateY(180deg);}
    0% {transform:perspective(800px) rotateY(180deg);}
    100% {transform:perspective(800px) rotateY(0deg);}
}

.cardBackflip {
    animation-name: cardBackflip;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후에도 최종 상태를 유지 */
}


@keyframes updatingnumber {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.1); 
        filter: brightness(0.8);
    }
    100% { 
        transform: scale(1); 
    }
}

.updatingnumber{
    animation-name: updatingnumber;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}