/* components.css */
.studentcard {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 650px;
  background-color: rgb(0, 0, 0);
  top: 10px;
  --corner: 30px; /* 경계 두께 */
  --bg: rgba(0, 0, 0, 0.6); /* 반투명 배경 색상 (예: #007144, 60% 투명도) */
  --border-color: rgba(9, 255, 156, 0.6); /* 투명한 경계 색상 */
  border: var(--corner) solid;
  border-image-source: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" fill="white"><path d="M1 0 0 1v1l1 1h1l1-1V1L2 0H1Z"/></svg>');
  border-image-slice: 1 fill;
  transition: 1s;
}

.choosbuttonbox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 700px;
  bottom: 0;
}

.btn {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transition: all 0.2s ease; 
  border-radius: 10px;
  cursor: pointer;
}

.selectbutton {
  width: 200px;
  height: 80px;
  background-color: #f03aaa;
  box-shadow: 0px 5px 0px 0px #ac0b6e;
  border: 2px solid #ff009d;
}

.yesbutton {
  position: relative;
  width: 300px;
  height: 80px;
  background-color: rgb(23, 224, 50);
  box-shadow: 0px 5px 0px 0px rgb(13, 102, 25);
}

.yesimg{
  position: absolute;
  width: 70px;
  left: 10px;
}

.nobutton {
  position: relative;
  width: 300px;
  height: 80px;
  background-color: rgb(252, 39, 39);
  box-shadow: 0px 5px 0px 0px rgb(129, 20, 20);
}

.noimg{
  position: absolute;
  width: 70px;
  left: 10px;
}

.studentcardimg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 208, 208);
  height: 240px;
  width: 180px;
  background-size: 100% 400px;
  top: 0px;
  left: 0px;
}

.personaldatabox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 360px;
  top: 0px;
  right: 0px;
}

.studentinformation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 560px;
  bottom: 0px;
  right: 0;
}

.angryNotification{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 1500px;
  transition: 0.7s;
}

.speech-bubble {
	position: relative;
	background: #ec211a;
	border-radius: .4em;
  font-size: 30px;
  padding: 30px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ec211a;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.angrychairman{
  margin: 20px;
  width: 200px;
  transform: rotate(-20deg);
}

.stamp{
  position: absolute;
  opacity: 0.4;
  width: 400px;
  transition: 1s;
}