/* global.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* 기본 스크롤 설정 */
    min-width: 1800px;
    min-height: 850px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'EF_hyunydororong';
    background-color: rgb(230, 230, 230);
  }
  
  @font-face {
    font-family: 'EF_hyunydororong';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunydororong.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }