/* layout.css */
.basebox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1800px;
    height: 850px;
    background-color: rgb(128, 100, 100);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .characterbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
  
  .characterframebox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 730px;
    left: 0;
    top: 0;
    background-color: #000000;
  }
  
  .selectbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 1100px;
    height: 120px;
    background-color: #a54c4c;
  }
  
  .sidebar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 850px;
    background-color: #20202b;
    right: 0;
    top: 0;
  }