html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto; /* 기본 스크롤 설정 */
  min-width: 1800px;
  min-height: 850px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'HSSaemaul-Regular';
  transition: 1s;
  
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

body{
  background-color: antiquewhite;
}

.gamebox{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1800px;
  height: 850px;
  background-color: rgb(128, 100, 100);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}